In [85]:
import pandas as pd

data = pd.DataFrame({'Driver Number':     [4,4,4,4,4,5,5,5,5,5,6,6,6,6,6,7,7,7,7,7], 
                     'Phase Number':      [1,             2,             3,             4,             5,            1,             2,            3,            4,            5,             1,            2,             3,            4,              5,             1,             2,             3,              4,             5], 
                     'Mean C#1':          [0.005296171,   0.005112366,   0.005351587,   0.005330712,   0.005670496,  0.005958964,   0.006723065,  0.006027282,  0.00692246,   0.006321351,  0.005072077,   0.005779972,   0.005580563,  0.005941605,    0.005923695,   0.005213591,   0.005175913,   0.005365344,    0.00563247,    0.005392539],  
                     'Mean Speed':        [33.08571218,   44.11093575,   44.12046125,   43.76879734,  43.56001224,   32.75956087,   43.67810754,  43.42137821,  43.19903284,  34.16707435,  33.30618553,   44.16450068,   44.31475332,  43.20091595,    43.68485684,   33.69459561,   43.38093101,   44.45868576,    42.47345893,   39.86606621],
                     'Mean Steering':     [-0.002051016,  -0.000169513,  0.000327755,   6.4607E-05,   -0.000171134,  -0.001749645,  0.000188224,  -0.000123911, 0.000179108,  -0.001080448,  0.007965642,  0.000183906,   0.000572984,  -0.000366053,   -0.000106393,  0.000526748,   0.000106026,   -0.000132269,   -8.05477E-05,  0.000251913],
                     'Mean Lane Position':[2.192481165,    2.232542862,  3.369663044,   2.245136732,   2.218870008,  2.236577781,   2.283586744,  3.327765396,  2.352519092,  2.263826124,   2.263691419,   2.270100747,  3.382188448,  2.340777689,    2.286312828,   2.214335378,   2.191745277,   3.426059528,    2.114492502,   2.262530347]
                     })
data

,Driver Number,Mean C#1,Mean Lane Position,Mean Speed,Mean Steering,Phase Number
0,4,0.005296,2.192481,33.085712,-0.002051,1
1,4,0.005112,2.232543,44.110936,-0.000170,2
2,4,0.005352,3.369663,44.120461,0.000328,3
3,4,0.005331,2.245137,43.768797,0.000065,4
4,4,0.005670,2.218870,43.560012,-0.000171,5
5,5,0.005959,2.236578,32.759561,-0.001750,1
6,5,0.006723,2.283587,43.678108,0.000188,2
7,5,0.006027,3.327765,43.421378,-0.000124,3
8,5,0.006922,2.352519,43.199033,0.000179,4
9,5,0.006321,2.263826,34.167074,-0.001080,5
10,6,0.005072,2.263691,33.306186,0.007966,1
11,6,0.005780,2.270101,44.164501,0.000184,2
12,6,0.005581,3.382188,44.314753,0.000573,3
13,6,0.005942,2.340778,43.200916,-0.000366,4
14,6,0.005924,2.286313,43.684857,-0.000106,5
15,7,0.005214,2.214335,33.694596,0.000527,1
16,7,0.005176,2.191745,43.380931,0.000106,2
17,7,0.005365,3.426060,44.458686,-0.000132,3
18,7,0.005632,2.114493,42.473459,-0.000081,4
19,7,0.005393,2.262530,39.866066,0.000252,5

In [11]:
data = data.reindex(columns=['Driver Number', 'Phase Number','Mean C#1','Mean Speed','Mean Steering','Mean Lane Position'])
data

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
0,4,1,0.005296,33.085712,-0.002051,2.192481
1,4,2,0.005112,44.110936,-0.000170,2.232543
2,4,3,0.005352,44.120461,0.000328,3.369663
3,4,4,0.005331,43.768797,0.000065,2.245137
4,4,5,0.005670,43.560012,-0.000171,2.218870
5,5,1,0.005959,32.759561,-0.001750,2.236578
6,5,2,0.006723,43.678108,0.000188,2.283587
7,5,3,0.006027,43.421378,-0.000124,3.327765
8,5,4,0.006922,43.199033,0.000179,2.352519
9,5,5,0.006321,34.167074,-0.001080,2.263826
10,6,1,0.005072,33.306186,0.007966,2.263691
11,6,2,0.005780,44.164501,0.000184,2.270101
12,6,3,0.005581,44.314753,0.000573,3.382188
13,6,4,0.005942,43.200916,-0.000366,2.340778
14,6,5,0.005924,43.684857,-0.000106,2.286313
15,7,1,0.005214,33.694596,0.000527,2.214335
16,7,2,0.005176,43.380931,0.000106,2.191745
17,7,3,0.005365,44.458686,-0.000132,3.426060
18,7,4,0.005632,42.473459,-0.000081,2.114493
19,7,5,0.005393,39.866066,0.000252,2.262530

In [32]:
#calculate the Means for each of the subjects
data.mean()

Driver Number          5.500000
Phase Number           3.000000
Mean C#1               0.005690
Mean Speed            40.920801
Mean Steering          0.000217
Mean Lane Position     2.473760
dtype: float64

In [86]:
#Driver 4
sp = data.iloc[0:5]
sp.head

<bound method NDFrame.head of    Driver Number  Mean C#1  Mean Lane Position  Mean Speed  Mean Steering  \
0              4  0.005296            2.192481   33.085712      -0.002051
1              4  0.005112            2.232543   44.110936      -0.000170
2              4  0.005352            3.369663   44.120461       0.000328
3              4  0.005331            2.245137   43.768797       0.000065
4              4  0.005670            2.218870   43.560012      -0.000171

   Phase Number
0             1
1             2
2             3
3             4
4             5  >

In [33]:
#Mean of driver 4
sp.mean()

Driver Number          4.000000
Phase Number           3.000000
Mean C#1               0.005352
Mean Speed            41.729184
Mean Steering         -0.000400
Mean Lane Position     2.451739
dtype: float64

In [17]:
#Driver 5
sp1 = data.iloc[5:10]
sp1.head

<bound method NDFrame.head of    Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
5              5             1  0.005959   32.759561      -0.001750
6              5             2  0.006723   43.678108       0.000188
7              5             3  0.006027   43.421378      -0.000124
8              5             4  0.006922   43.199033       0.000179
9              5             5  0.006321   34.167074      -0.001080

   Mean Lane Position
5            2.236578
6            2.283587
7            3.327765
8            2.352519
9            2.263826  >

In [34]:
#Mean of Driver 5
sp1.mean()

Driver Number          5.000000
Phase Number           3.000000
Mean C#1               0.006391
Mean Speed            39.445031
Mean Steering         -0.000517
Mean Lane Position     2.492855
dtype: float64

In [22]:
#Driver 6
sp2 = data.iloc[10:15]
sp2.head

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
10              6             1  0.005072   33.306186       0.007966
11              6             2  0.005780   44.164501       0.000184
12              6             3  0.005581   44.314753       0.000573
13              6             4  0.005942   43.200916      -0.000366
14              6             5  0.005924   43.684857      -0.000106

    Mean Lane Position
10            2.263691
11            2.270101
12            3.382188
13            2.340778
14            2.286313  >

In [35]:
#Mean of Driver 6
sp2.mean()

Driver Number          6.000000
Phase Number           3.000000
Mean C#1               0.005660
Mean Speed            41.734242
Mean Steering          0.001650
Mean Lane Position     2.508614
dtype: float64

In [21]:
#Driver 7
sp3 = data.iloc[15:20]
sp3.head

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
15              7             1  0.005214   33.694596       0.000527
16              7             2  0.005176   43.380931       0.000106
17              7             3  0.005365   44.458686      -0.000132
18              7             4  0.005632   42.473459      -0.000081
19              7             5  0.005393   39.866066       0.000252

    Mean Lane Position
15            2.214335
16            2.191745
17            3.426060
18            2.114493
19            2.262530  >

In [36]:
#Mean of Driver 7
sp3.mean()

Driver Number          7.000000
Phase Number           3.000000
Mean C#1               0.005356
Mean Speed            40.774748
Mean Steering          0.000134
Mean Lane Position     2.441833
dtype: float64

In [83]:
import pandas as pd

data1 = {'Driver Number':       ['4',       '5',         '6',        '7'],
        'Phase Number':        ['All',     'All',       'All',      'All'],
        'Mean C#1':            [0.005352,   0.006391,   0.005660,    0.005356],
        'Mean Speed':          [41.729184,  39.445031,  41.734242,   40.774748],
        'Mean Steering':       [-0.000400,  -0.000517,  0.001650,   0.000134],
        'Mean Lane Position':  [2.451739,   2.492855,   2.508614,   2.441833],
       }
 
# Convert the dictionary into DataFrame for seperate driver numbers
df = pd.DataFrame(data1)

print(df)

  Driver Number  Mean C#1  Mean Lane Position  Mean Speed  Mean Steering  \
0             4  0.005352            2.451739   41.729184      -0.000400
1             5  0.006391            2.492855   39.445031      -0.000517
2             6  0.005660            2.508614   41.734242       0.001650
3             7  0.005356            2.441833   40.774748       0.000134

  Phase Number
0          All
1          All
2          All
3          All

In [77]:
df = df.reindex(columns=['Driver Number', 'Phase Number','Mean C#1','Mean Speed','Mean Steering','Mean Lane Position'])
df

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
0,4,All,0.005352,41.729184,-0.000400,2.451739
1,5,All,0.006391,39.445031,-0.000517,2.492855
2,6,All,0.005660,41.734242,0.001650,2.508614
3,7,All,0.005356,40.774748,0.000134,2.441833

In [70]:
import pandas as pd
writer = pd.ExcelWriter('/Users/cerser/Downloads/hw5-1.xlsx')
df.to_excel(writer,'Sheet 1')
writer.save()

In [96]:
dn1 = df.iloc[1]
dn1.head

<bound method NDFrame.head of Driver Number                5
Mean C#1              0.006391
Mean Lane Position     2.49286
Mean Speed              39.445
Mean Steering        -0.000517
Phase Number               All
Name: 1, dtype: object>

In [27]:
sp4 = data.iloc[0:20:5]
sp4.head
#Phase number 1

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
0               4             1  0.005296   33.085712      -0.002051
5               5             1  0.005959   32.759561      -0.001750
10              6             1  0.005072   33.306186       0.007966
15              7             1  0.005214   33.694596       0.000527

    Mean Lane Position
0             2.192481
5             2.236578
10            2.263691
15            2.214335  >

In [37]:
sp4.mean()

Driver Number          5.500000
Phase Number           1.000000
Mean C#1               0.005385
Mean Speed            33.211514
Mean Steering          0.001173
Mean Lane Position     2.226771
dtype: float64

In [28]:
sp5 = data.iloc[1:20:5]
sp5.head
#Phase number 2

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
1               4             2  0.005112   44.110936      -0.000170
6               5             2  0.006723   43.678108       0.000188
11              6             2  0.005780   44.164501       0.000184
16              7             2  0.005176   43.380931       0.000106

    Mean Lane Position
1             2.232543
6             2.283587
11            2.270101
16            2.191745  >

In [38]:
sp5.mean()

Driver Number          5.500000
Phase Number           2.000000
Mean C#1               0.005698
Mean Speed            43.833619
Mean Steering          0.000077
Mean Lane Position     2.244494
dtype: float64

In [29]:
sp6 = data.iloc[2:20:5]
sp6.head
#Phase number 3

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
2               4             3  0.005352   44.120461       0.000328
7               5             3  0.006027   43.421378      -0.000124
12              6             3  0.005581   44.314753       0.000573
17              7             3  0.005365   44.458686      -0.000132

    Mean Lane Position
2             3.369663
7             3.327765
12            3.382188
17            3.426060  >

In [39]:
sp6.mean()

Driver Number          5.500000
Phase Number           3.000000
Mean C#1               0.005581
Mean Speed            44.078820
Mean Steering          0.000161
Mean Lane Position     3.376419
dtype: float64

In [30]:
sp7 = data.iloc[3:20:5]
sp7.head
#Phase number 4

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
3               4             4  0.005331   43.768797       0.000065
8               5             4  0.006922   43.199033       0.000179
13              6             4  0.005942   43.200916      -0.000366
18              7             4  0.005632   42.473459      -0.000081

    Mean Lane Position
3             2.245137
8             2.352519
13            2.340778
18            2.114493  >

In [40]:
sp7.mean()

Driver Number          5.500000
Phase Number           4.000000
Mean C#1               0.005957
Mean Speed            43.160551
Mean Steering         -0.000051
Mean Lane Position     2.263232
dtype: float64

In [31]:
sp8 = data.iloc[4:20:5]
sp8.head
#Phase number 5

<bound method NDFrame.head of     Driver Number  Phase Number  Mean C#1  Mean Speed  Mean Steering  \
4               4             5  0.005670   43.560012      -0.000171
9               5             5  0.006321   34.167074      -0.001080
14              6             5  0.005924   43.684857      -0.000106
19              7             5  0.005393   39.866066       0.000252

    Mean Lane Position
4             2.218870
9             2.263826
14            2.286313
19            2.262530  >

In [41]:
sp8.mean()

Driver Number          5.500000
Phase Number           5.000000
Mean C#1               0.005827
Mean Speed            40.319502
Mean Steering         -0.000277
Mean Lane Position     2.257885
dtype: float64

In [48]:
data1 = {'Driver Number':      ['All',      'All',     'All',       'All',        'All'],
        'Phase Number':        ['1',        '2',       '3',         '4',           '5'],
        'Mean C#1':            [0.005385,   0.005698,   0.005581,    0.005957,     0.005827],
        'Mean Speed':          [33.211514,  43.833619,  44.078820,   43.160551,    40.319502],
        'Mean Steering':       [0.001173,   0.000077,   0.000161,    -0.000051,    -0.000277],
        'Mean Lane Position':  [2.226771,   2.244494,   3.376419,    2.263232,     2.257885],
       }
 
# Convert the dictionary into DataFrame for phase numbers
df1 = pd.DataFrame(data1)

print(df1)

  Driver Number  Mean C#1  Mean Lane Position  Mean Speed  Mean Steering  \
0           All  0.005385            2.226771   33.211514       0.001173
1           All  0.005698            2.244494   43.833619       0.000077
2           All  0.005581            3.376419   44.078820       0.000161
3           All  0.005957            2.263232   43.160551      -0.000051
4           All  0.005827            2.257885   40.319502      -0.000277

  Phase Number
0            1
1            2
2            3
3            4
4            5

In [88]:
df1 = df1.reindex(columns=['Driver Number', 'Phase Number','Mean C#1','Mean Speed','Mean Steering','Mean Lane Position'])
df1

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
0,All,1,0.005385,33.211514,0.001173,2.226771
1,All,2,0.005698,43.833619,0.000077,2.244494
2,All,3,0.005581,44.078820,0.000161,3.376419
3,All,4,0.005957,43.160551,-0.000051,2.263232
4,All,5,0.005827,40.319502,-0.000277,2.257885

In [98]:
df_1 = df1.iloc[:1,:]
df_1
#phase number 1

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
0,All,1,0.005385,33.211514,0.001173,2.226771

In [99]:
df_2 = df1.iloc[1:2,:]
df_2
#Phase number 2

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
1,All,2,0.005698,43.833619,0.000077,2.244494

In [100]:
df_3 = df1.iloc[2:3,:]
df_3
#Phase number 3

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
2,All,3,0.005581,44.07882,0.000161,3.376419

In [101]:
df_4 = df1.iloc[3:4,:]
df_4
#Phase number 4

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
3,All,4,0.005957,43.160551,-0.000051,2.263232

In [102]:
df_5 = df1.iloc[4:5,:]
df_5
#Phase number 5

,Driver Number,Phase Number,Mean C#1,Mean Speed,Mean Steering,Mean Lane Position
4,All,5,0.005827,40.319502,-0.000277,2.257885

In [71]:
import pandas as pd
writer = pd.ExcelWriter('/Users/cerser/Downloads/hw5-1.xlsx')
df1.to_excel(writer,'Sheet 2')
writer.save()

In [104]:
with pd.ExcelWriter('hw5-1.xlsx') as writer: 
    df.to_excel(writer, sheet_name='Sheet 1')
    df_1.to_excel(writer, sheet_name='Sheet 2')
    df_2.to_excel(writer, sheet_name='Sheet 3')
    df_3.to_excel(writer, sheet_name='Sheet 4')
    df_4.to_excel(writer, sheet_name='Sheet 5')
    df_5.to_excel(writer, sheet_name='Sheet 6')