In [2]:
import pandas as pd
import numpy as np
#Create DataFrame object on this data
data = pd.DataFrame({'first_name':     ['Jason',             'Molly',                'Tina',      'Jake',                'Amy'], 
                     'last_name':      ['Miller',            'Jacobson',             'Ali',       'Miner',               'Cooze'], 
                     'email':          ['jas203@gmail.com',  'momomolly@gmail.com',   np.nan,        'battler@milner.com',   'Ames1234@yahoo.com'],  
                     'preTestScore':   [4,                   24,                      31,          2,                     3],
                     'postTestScore':  [25,                  94,                      57,          62,                    70],
                     })
data

  first_name last_name                email  preTestScore  postTestScore
0      Jason    Miller     jas203@gmail.com             4             25
1      Molly  Jacobson  momomolly@gmail.com            24             94
2       Tina       Ali                  NaN            31             57
3       Jake     Miner   battler@milner.com             2             62
4        Amy     Cooze   Ames1234@yahoo.com             3             70

In [3]:
data1 = data.reindex(columns=['first_name','last_name','email','preTestScore','postTestScore'])
data1

  first_name last_name                email  preTestScore  postTestScore
0      Jason    Miller     jas203@gmail.com             4             25
1      Molly  Jacobson  momomolly@gmail.com            24             94
2       Tina       Ali                  NaN            31             57
3       Jake     Miner   battler@milner.com             2             62
4        Amy     Cooze   Ames1234@yahoo.com             3             70

In [4]:
data = {'Jason Miller' :'jas203@gmail.com', 'Molly Jacobson':'momomolly@gmail.com', 
       'Tina Ali': np.nan,'Jake Miner':'battler@milner.com','Amy Cooze': 'Ames1234@yahoo.com'}
data = pd.Series(data)
data

Jason Miller         jas203@gmail.com
Molly Jacobson    momomolly@gmail.com
Tina Ali                          NaN
Jake Miner         battler@milner.com
Amy Cooze          Ames1234@yahoo.com
dtype: object

In [6]:
data.isnull()

Jason Miller      False
Molly Jacobson    False
Tina Ali           True
Jake Miner        False
Amy Cooze         False
dtype: bool

In [8]:
#Which strings in column email contains ‘gmail’. ( i.e. True if exist and False if not exist)
data.str.contains('gmail')

Jason Miller       True
Molly Jacobson     True
Tina Ali            NaN
Jake Miner        False
Amy Cooze         False
dtype: object

In [10]:
import re
#Create a regular expression pattern that breaks apart emails
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [11]:
#Find everything that contains that pattern created
data.str.findall(pattern, flags=re.IGNORECASE)

Jason Miller         [(jas203, gmail, com)]
Molly Jacobson    [(momomolly, gmail, com)]
Tina Ali                                NaN
Jake Miner         [(battler, milner, com)]
Amy Cooze          [(Ames1234, yahoo, com)]
dtype: object